*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: "Trebuchet MS",Helvetica, sans-serif;
    background: #e6e6e6;
}

/*-----------CABEÇALHO------------*/
h1{
    color: black;
    font-size: 2.5em;
}
.blog{
    color: white;
}
#cabecalho{
    background: #155FBF;
    padding: 20px;
    text-align: center;
}
#logo, #menu{
    padding: 10px;
}
a{
    text-decoration: none;
}
a:link, a:visited{
    color: white;
    padding: 9px 15px;
}
a:hover{
    color: #155FBF;
    background: white;
}
/*-----------PRINCIPAL------------*/
#principal{
    background: white;
    width: 920px;
    margin: 0 auto;
}
#area-postagens{
    width: 660px;
    float: left;
    background: green;
}
#barra-lateral{ 
    width: 240px;
    float: right;
    background: green;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}
#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: grey;
}
